# ==========================
# Archivos del sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Dependencias
# ==========================
node_modules/

# ==========================
# Archivos temporales
# ==========================
*.log
*.tmp

# ==========================
# Configuración de IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Caché y compilados
# ==========================
.cache/
dist/